nav{

    border: 1px solid black;
    border-radius: 0.3rem;
    
    margin-left: 30.5rem;
    margin-right: 30.5rem;
    
    background-color: rgba(255, 255, 255, 0.852);
}

#Home{
    border: 3px solid rgb(25, 138, 236);
    border-radius: 1rem;

    background-color: rgb(25, 138, 236);

    margin-top: 0.5rem;
    margin-left: 13rem;
    margin-right: 1rem;
}

#Home:hover{
    cursor: pointer;
}
  
#About{
    border: 3px solid rgb(25, 138, 236);
    border-radius: 1rem;
    
    background-color: rgb(25, 138, 236);
}

#About:hover{
    cursor: pointer;
}


