#Add{
  
  width: 82%;

  height: 2rem;
  
  margin-left: 1rem;
  margin-bottom: 7px;
  margin-top: 7px;

  border: 3px solid rgb(25, 138, 236);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#AddButton{
  font-weight: bold;

  height: 2rem;

  border: 3px solid rgb(25, 138, 236);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  background-color: rgb(25, 138, 236);

  color: white;
}

#AddButton:hover{
  cursor: pointer;
}
