
#BoxCharacter{
    border: 1px solid green;
    border-radius: 7rem;
    margin-top: 2rem;
    margin-left: 32rem;
    margin-right: 32rem;
    animation-name: animation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    
}

@keyframes animation{
  0% {background-color: rgb(248, 248, 31);} 
 25% {background-color: rgb(98, 255, 0);} 
 50% {background-color: rgb(240, 47, 47);} 
 75% {background-color: rgb(0, 208, 255);} 
100% {background-color: rgb(242, 130, 255);}  
}

.RickCard{
    line-height: 0.25em;
}

h3{
    size: 3px;
}

img{
    border: 1px solid black;
    margin-bottom: 1rem;
    width: 16.5rem;
}

#CharacterName{
    color: black;
    margin-top: 1rem;
}

.h2Char{
    border: 3px solid purple;
    border-radius: 1rem;
    padding: 15px;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1.5rem;
    background-color: white;
}

.SpecificationBox{
    
    text-align: left;
    /*box*/
    border: 3px solid purple;
    border-radius: 1rem;
    border-width: 3px;
    padding: 5px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    color: orangered;
    background-color: white;
}

#Delete{
    color: brown;
    display: flex;
    justify-content: flex-start;
    pointer-events: auto;
    border: 1px black solid;
    border-radius: 10px;
}

#Delete:hover{
    background-image: url("https://media1.giphy.com/media/oe33xf3B50fsc/giphy.gif");
    cursor: pointer;
}